.container {
   margin: 0px auto;
   padding: 0px 15px;
   max-width: 1200px;
 }

 @media (max-width: 400px) {
   .container {
     font-size: 15px;
   }
 }

 @media (max-width: 350px) {
   .container {
     font-size: 20px;
   }
 }

 @media (max-width: 250px) {
   .container {
     font-size: 30px;
   }
 }

 @media (max-width: 175px) {
   .container {
     font-size: 40px;
   }
 }

 @media (max-width: 160px) {
   .container {
     font-size: 50px;
   }
 }

 @media (max-width: 120px) {
   .container {
     font-size: 60px;
   }
 }

 @media (max-width: 110px) {
   .container {
     font-size: 70px;
   }
 }
