.container {
   margin: 0px auto;
   padding: 0px 15px;
   max-width: 1200px;
 }

  @media (max-width: 800px) {
   .container {
     font-size: 85px;
   }
   }

   @media (max-width: 760px) {
   .container {
     font-size: 75px;
   }
 }

 @media (max-width: 650px) {
   .container {
     font-size: 60px;
   }
 }

 @media (max-width: 610px) {
   .container {
     font-size: 50px;
   }
 }

 @media (max-width: 503px) {
   .container {
     font-size: 40px;
   }
 }

 @media (max-width: 450px) {
   .container {
     font-size: 30px;
   }
 }

 @media (max-width: 300px) {
   .container {
     font-size: 20px;
   }
 } 
