.menu {
     text-align: left;
     }
 .menu__links {
 	width: 300px;
  }

 .menu__links-item {
         display: inline-block;
         border-left: 10px solid grey;
         border-bottom: 1px solid grey;
         background: beige;
         color: blue;
         font-family: sans-serif;
         font-size: 30px;
         padding: 0 10px;
         text-decoration: none;
         }

 .menu__links-item:hover {
 	    text-decoration: underline;
     }

 .menu__icon {
  	   display: none;
  	   height: 35px;
  	   width: 45px;
  	   position: relative;
  	   cursor: pointer;
     }
 .menu__icon span {
  	   display: block;
  	   position: absolute;
  	   height: 9px;
  	   width: 100%;
  	   background: orange;
  	   border-radius: 9px;
  	   opacity: 1;
  	   left: 0;
  	   transform: rotate(0deg);
  	   transition: 0.25s ease-in-out;
        }
 .menu__icon span:nth-child(1) {
  	top: 0px;
        }
 .menu__icon span:nth-child(2), .menu_icon span:nth-child(3) {
  	top: 13px;
       }
 .menu__icon span:nth-child(4) {
 	top: 26px;
       }

 @media screen and (max-width: 760px) {
 	.menu__icon{
 		display: inline-block;
 	}
     .menu__links {
 	    position: fixed;
 	    display: none;
 	    top: 0;
 	    right: 0;
 	    left: 0;
 	    background-color: orange;
 	    z-index: 1000;
 	    overflow: auto;
 	}
     .menu__links-item {
 	     display: block;
 	     padding: 10px 0;
 	     text-align: center;
     }
     }

 @media (min-width: 320px) {
 	.wrap_title {
 		font-size: 15px;
 	}
 }

 @media (min-width:360px) {
 	.wrap_title {
 		font-size: 35px;
 		color: red;
 	}
 }

 @media (min-width:375px) {
 	.wrap_title {
 		font-size: 55px;
 		color: green;
 	}
 }

 @media (min-width: 411px) {
 	.wrap_title {
 		font-size: 65px;
 		color: blue;
 	}
 }

 @media (min-width: 768px) {
 	.wrap_title {
 		font-size: 100px;
 		color: orange;
 	}
 }

 @media (min-width: 1024px) {
 	.wrap_title {
 		font-size: 60px;
 		color: red;
 	}
 }
